
/* Style-sheets for Games */

body {
   margin: 0;
   border: 0;
   color: #000;
   background-color: #E9ECCF;
   font-size: medium;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-style: normal;
}

h1 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
   font-size: 2.0rem;
}

.headerInner {
   position: absolute;
   top: 0;
   width: 100%;
   font-weight: normal;
   background-color: #003366;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   padding: 0.5em 0.75em;
}

#wrapper {
   padding-top: 90px;
}

.wrapper {
   max-width: 100%;
   position: relative;
}

.main {
   position: relative
}

.card-layout {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: top;
   justify-content: center;
}

.card-game {
   margin: 10px auto;
   width: 650px;
}

.card-cell {
   margin: 10px;
   flex: 1 2;
}

.notes {
   margin-left: 100px;
   margin-right: 100px;
   font-size: 1.0rem;
}

.button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #fff;
   background-color: transparent;
   font-family: T6, "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
   font-weight: 400;
   font-size: 1.4rem;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;
   text-align: center;
   padding: 10px 20px;
   min-width: 133px;
}

.button:hover,
.button:active {
   background-color: #fff;
   color: #353535;
   text-decoration: none;
}

.button.blue-button {
   min-width: 180px;
   background-color: #008ca1;
   border: none;
}

.button.blue-button:hover,
.button.blue-button:active {
   background-color: #40a9b9;
   color: #fff;
}

.button.green-button {
   background-color: #799d3e;
   border: none;
}

.button.green-button:hover,
.button.green-button:active {
   background-color: #8dbd3e;
   color: #fff;
}

.button.disabled {
   background-color: #d4d4d4;
   cursor: default;
}

.button.disabled:hover,
.button.disabled:active {
   background-color: #d4d4d4;
}

.cssQuizKey {
   border: 1px solid #999;
   overflow: auto;
   background: #FFFFDD;
   padding: 12px;
   margin: 1em 7px 1em 7px;
}

.cssQuizKey pre {
   margin: 0px;
   padding: 0px;
}

.cssQuizKeyHide {
   display: none;
}
