/* Cascading Style Sheets (CSS)
style for song lyrics

with banner, blockquote
*/
h1 {
    text-align: center;
}
body {
    background: #FBFDCF;  /* background color */
    color: #09033D;       /* text color */
    font: 12pt Georgia;   /* text font */
    margin: 50px;
    text-align: justify;  /* text justify */
    padding:0 32px 32px;  /* left and right padding */
}
.lyrics {
    background: #F2F8D4;  /* background color, #DAF7A6, #F1C4F3, #EED4F0, #F2F8D4 */
    color: #03092E;       /* text color */
    font: 15pt Comic Sans MS;   /* text font */
}
.button {
    background-color: #1A7811; /* salmon #FA8072, bright green #37F024, dark green #1A7811 */
    color: #FFFF00;  /* yellow */
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px;
}
img {
    padding:0 16px 16px;  /* left and right padding */  
}
.banner { /* to stay on top right corner */
    position: fixed;
    right: 0;
    background: #CCFDCF; /* pale green */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
  margin: auto;
  display: block;
  width: 90%; /* or 80%, 100% */
  /* max-width: 700px; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* better text */
.note {
    font: 15pt Comic Sans MS;   /* text font */
}
/* default display is class="en" */
.en { display: inline }
.ch { display: none }

/* for block quotes */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.8em;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Image with caption */
.imagecap {
  /* dummy */
}
.imagecap img {
  float:right;
  width:100%;
  padding:0;
}

