/* Cascading Style Sheets (CSS)
style from original lovelace/html

anchor color: #8866cc; (lavendar)  hover/focus: #0062cc; (navy blue)
*/
body {
    background: #FBFDCF;  /* background color */
    color: #09033D;       /* text color */
    font: 12pt Georgia;   /* text font */
    text-align: justify;  /* text justify */
    padding:0 64px 64px;  /* left and right padding */
}
h1 {
    text-align: center;
}
img {
    padding:0 16px 16px;  /* left and right padding */  
}
.menu li {
    margin-bottom: 18px;  /* menu item has bottom spacing */
}
a {
   color:#8866cc; /* lavendar */
   text-decoration:none; /* no underline */
   background-color:transparent;
}
a:hover,a:focus{
   color:#0062cc; /* navy blue */
   text-decoration:underline;
}
/* Mark tags */
mark {
   background-color:#91f57a; /* light green */
}
/* table */
table {
  border-collapse: collapse;
}
th, td {
  padding: 8px;
}
.header {
    font: 20pt Comic Sans MS;   /* text font */
    font-weight: bold;
}
.note {
    font: 15pt Comic Sans MS;   /* text font */
}
.caption {
    font-size:18; font-family:Times New Roman; /* for caption */
}
.left {
    float:left; margin-right:20px;
}
.right {
    float:right; margin-left:20px;
}
/* for colors */
.green {
   color: #228B22; /* forest green */
}
.lavender {
   color: #8866cc; /* lavendar */
}
.land {
   color: #ffffff; /* white */
   background-color: #008000; /* green */
}
.mathtxt { /* simulate textrm */
   font-family: Times New Roman;
   font-style: italic;
}
.en { display: inline }
.ch { display: none }
.au { display: inline }
.hk { display: none }
.banner { /* to stay on top right corner */
    position: fixed;
    right: 0;
    background: #CCFDCF; /* pale green */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
  margin: auto;
  display: block;
  width: 90%; /* or 80%, 100% */
  /* max-width: 700px; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Text box with border, for showInfo(name, flag) */
.text-box {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  border-style:solid;
  border-color:#336699;
  border-width:2px;
  word-wrap: break-word;
}

/* Image with caption */
.imagecap {
  /* dummy */
}
.imagecap img {
  float:right;
  width:100%;
  padding:0;
}

/* Quote in blue box */
.quoteblue {
 color:#172bae;
 font:normal 400 20px/30px Times,serif;
 margin:0 0 0 20px; /* top right bottom left */
 padding:20px; /* top right bottom left all the same */
 background-color:#f5f5f5;
 border: 1px solid blue;
}
.quotename {
 color:#b00;
 font:bold 16px/20px Times,serif;
 letter-spacing:1px;
 text-align:right;
}
.quotedate {
 color:#666;
 font:normal 14px/16px Arial,sans-serif;
 text-align:right;
 padding:0 0 16px; /* top right/left bottom */
}
