/* Cascading Style Sheets (CSS)
style for pandoc slides

with Reveal, banner, and pop-up.
*/
.reveal {
  font-size: 16pt;
  line-height: 1.2em;
}
.reveal pre code {
  font-size: 14pt;
  line-height: 1.2em;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
/* Mark tags */
mark {
   background-color:#91f57a; /* light green */
}
.note {
    font: 15pt Comic Sans MS;   /* text font */
}
.caption {
    font-size:18; font-family:Times New Roman; /* for caption */
}
/* for colors */
.green {
   color: #228B22; /* forest green */
}
.lavender {
   color: #8866cc; /* lavendar */
}
.land {
   color: #ffffff; /* white */
   background-color: #008000; /* green */
}
.mathtxt { /* simulate textrm */
   font-family: Times New Roman;
   font-style: italic;
}
.small { /* small font */
   font-size: 12pt;
}
.en { display: inline } /* default english */
.ch { display: none }   /* switch to inline */
.hide { 
    display: none
}
.banner { /* to stay on top right corner */
    position: fixed;
    right: 0;
    background: #CCFDCF; /* pale green */
    font-size: 18pt;
    z-index: 1; /* if 0 cannot click in slides */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top for slides */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
#modal-content {
  margin: auto;
  display: block;
  width: 90%; /* or 80%, 100% */
  /* max-width: 700px; */
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 22pt;
}
/* Image with caption */
.imagecap {
  /* place in center */
  margin-left: auto;
  margin-right: auto;
  font-size: 12pt;
}
.imagecap img {
  width:100%;
  padding:0;
}
/* Text box with border, for showInfo(name, flag) */
.text-box {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  border-style:solid;
  border-color:#336699;
  border-width:2px;
  word-wrap: break-word;
}
/* Quote in blue box */
.quoteblue {
 color:#172bae;
 font:normal 400 20px/30px Times,serif;
 margin:0 0 0 20px; /* top right bottom left */
 padding:20px; /* top right bottom left all the same */
 background-color:#f5f5f5;
 border: 1px solid blue;
}
.quotename {
 color:#b00;
 font:bold 16px/20px Times,serif;
 letter-spacing:1px;
 text-align:right;
}
.quotedate {
 color:#666;
 font:normal 14px/16px Arial,sans-serif;
 text-align:right;
 padding:0 0 16px; /* top right/left bottom */
}

